@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: auto;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
  
}

.main{
  display:flex;
  position: relative;
	justify-content: left;
  top:20%
  
}

.fetch{
  position:fixed;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.header{
  position:fixed;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);

}

/*
.graphtwo{
	
    position: fixed;
	left:50%;
	
  top:50%
}*/
#mychart{
	position: fixed;
	left:70%;
    top:2%
}

#mychart1{
	position: fixed;
	left:70%;
	
  top:80%
}